---
layout: nil
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Article Feed">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
        
      {{ content }}

    </div>
    <footer>
      <p>Theme by <a href="https://github.com/orderedlist" target="_BLANK">orderedlist</a></p>
      <p>
        <a href="mailto:{{ site.email }}" title="Send e-mail"><img src="/images/email-icon-16x12.png" alt="E-mail"/>E-mail</a>
        <a href="/atom.xml" title="Subscribe to articles"><img src="/images/feed-icon-14x14.png" alt="Atom Feed"/>Subscribe</a>
        <a href="https://twitter.com/MagerValp" title="Follow on Twitter"><img src="/images/twitter-icon-14x14.png" alt="Twitter"/>Follow</a>
      </p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39771129-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>
