---
layout: nil
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Article Feed">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
        
      {{ content }}

    </div>
    <footer>
      <p>Theme by <a href="https://github.com/orderedlist" target="_BLANK">orderedlist</a></p>
      <p>
        <a href="mailto:{{ site.email }}" title="Send e-mail"><img src="/images/email-icon-16x12.png" alt="E-mail"/>E-mail</a>
        <a href="/atom.xml" title="Subscribe to articles"><img src="/images/feed-icon-14x14.png" alt="Atom Feed"/>Subscribe</a>
        <a href="https://twitter.com/MagerValp" title="Follow on Twitter"><img src="/images/twitter-icon-14x14.png" alt="Twitter"/>Follow</a>
      </p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-39771129-1', 'github.com');
      ga('send', 'pageview');
      
    </script>
  </body>
</html>