---
layout: default
---

<header>
  <h1>{{ page.title }}</h1>
  <p>published {{ page.date | date_to_string }}</p>
</header>

<article>
  
  {{ content }}

  <nav>
    <p>
      <a href="/">⤺ Back to index.</a>
    </p>
    
    <span class="prev">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% else %}
        &nbsp;
      {% endif %}
    </span>
  
    <span class="next">
      {% if page.next.url %}
        <a href="{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} &raquo; </a>
      {% else %}
        &nbsp;
      {% endif %}
    </span>
  </nav>

</article>
